.nav{
	list-style: none;
    margin: 0;
    padding: none;
    overflow: hidden;
}

.list{
	display: inline-block;
}

h1{
	font-size: 50px;
}

.content{
	padding-left: 30px;
}

.date{
	padding-left: 50px;
}

/*Poisition logo*/
.logo{
	float: left;
	margin: 0px 20px 0px 0px;
}


/*Positing image 1*/
.img1{
	float: left;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
