/* Setting body margin and background image*/

body {
    margin: 0px;
    background-image: url(../images/soccer2.jpg);
    background-size: cover;
}


/*Positioning and size*/

.title {
    text-align: center;
    font-size: 380%;
    font-family: sans-serif;
    border: 1px solid black;
    background-color: linen;
    padding: 5px;
}

/*Removing bullet points next to list item and positiong to the left of text*/

.nav {
    list-style: none;
    float: left;
}


/*Removing underline and setting properties*/

.link {
    text-decoration: none;
    font-size: 120%;
    color: white;
}


/*Spacing between links*/

.list {
    padding: 10px 0px 10px 10px;
}

ol,
p {
    font-size: 15px;
    text-decoration: none;
    list-style-position: inside;
}


/*Change link color when cursor hovers over*/

a:hover {
    color: darkgray;
}


/*Setting text properties*/

.index {
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
}


/*Positioning logo*/

.logo {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.email {
    color: white;
}


/*Positioning and setting opacity and properties to all pages DIV content*/

.content {
    width: 65%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentAbout {
    width: 65%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentContact {
    width: 65%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}


.contentRules {
    width: 65%;
    height: 500px;
    position: absolute;
    overflow: scroll;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#center {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

.contentInfo {
    width: 65%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: left;
    color: white;
    font-family: sans-serif;
    overflow: scroll;
}

.contentRegister {
    width: 65%;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    padding-left: 15px;
    overflow: scroll;
}



/*Center form */

#centerRegister {
    text-align: justify;
    margin: 0 auto;
    width: 70%;
    background-color: linen;
    padding: 15px;
    color: black;
    border: 3px solid black;
}



/* Poisition titles*/

.left {
    padding-left: 15px;
}


/*Seperate table rows*/

.tableH1 {
    padding: 0px 70px 20px 70px;
}


/*Seperate table rows*/

td {
    padding: 0px 70px 10px 70px;
}


/* Poisition title*/

#location {
    padding-left: 15px;
}


/*Enlarge address box*/

.address {
    width: 65%;
}


/*Set underline to 'Permission to play'*/

.contentRegister h5 {
    text-decoration: underline;
}


/*Position map*/

iframe {
    margin-left: 280px;
    margin-top: 15px;
}


/*Align button to center*/

#submit {
    text-align: center;
}