/* Setting body margin and background image*/

body {
    margin: 0px;
    background-image: url(../images/soccer2.jpg);
    background-size: cover;
}

/*Positioning and size*/

.title {
    text-align: center;
    font-size: 55px;

}

/*Removing dots next to list item and positiong to the left of text*/

.nav {
    list-style: none;
    float: left;
}

/*Removing underline and setting properties*/

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

/*Spacing between links*/

.list {
    padding: 10px 0px 10px 10px;
}

/*Change link color when cursor hovers over*/

a:hover{
    color: darkgray;
}

/*Setting text properties*/

h2 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

/*Positioning logo*/

.logo{
    width: 120px;
    position: absolute;
    top: 30px;
    left: 20px;
}


.email {
    color: white;
}

/*Positioning and setting opacity, properties*/

.content {
    width: 250px;
    position: absolute;
    top: 200px;
    left: 640px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentAbout {
    width: 450px;
    height: 555px;
    position: absolute;
    top: 200px;
    left: 550px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentContact {
    width: 250px;
    position: absolute;
    top: 200px;
    left: 640px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;    
}