/* Setting body margin and background image*/

body {
    margin: 0px;
    background-image: url(../images/soccer2.jpg);
    background-size: cover;
}



/*Positioning and size*/

.title {
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    border: 1px solid black;
    background-color: linen;
    padding: 5px;
}



/*Removing dots next to list item and positiong to the left of text*/

.nav {
    list-style: none;
    float: left;
}



/*Removing underline and setting properties*/

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}



/*Spacing between links*/

.list {
    padding: 10px 0px 10px 10px;
}

ol,
p {
    font-size: 15px;
    text-decoration: none;
    font-weight: none;
}





/*Change link color when cursor hovers over*/

a:hover {
    color: darkgray;
}



/*Setting text properties*/

.index {
    margin-top: -18px;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
}



/*Positioning logo*/

.logo {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.email {
    color: white;
}



/*Positioning and setting opacity, properties*/

.content {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentAbout {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.contentContact {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}


.contentRules {
    width: 1000px;
    height: 500px;
    position: absolute;
    overflow: scroll;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.contentInfo {
    width: 1000px;
    height: 520px;
    position: absolute;
    top: 220px;
    left: 260px;
    border: 2px solid black;
    background: rgba(40, 5, 0, 0.7);
    font-size: 18px;
    text-align: left;
    color: white;
    font-family: sans-serif;
    overflow: scroll;
}


/* Poisition titles*/

.left {
    padding-left: 15px;
}


/*Seperate table rows*/

.tableH1 {
    padding: 0px 70px 20px 70px;
}


/*Seperate table rows*/

td {
    padding: 0px 70px 10px 70px;
}


/* Poisition title*/

#location {
    padding-left: 15px;
}
