body{
    margin: 0px;
}

/*Resize and adjust image*/

#header {
    background-image: url(../images/design2_image1.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 20px;
    border: 2px solid black;
}


/*Set list properties*/

.nav {
    list-style: none;
    margin top: 45px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 20px;
    display: flex;
}


/* Editing directly through link due to overiding issues with weblink,
setting properties*/

#link {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    border: 4px solid black;
    background-color: darkblue;
    font-size: 20px;
    box-shadow: 10px 10px black;
}


/* Top left corner text placement and properties*/

.topleft {
    font-size: 60px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/*Poisiton logo image*/

.logo {
    float: left;
    margin-left: 20px;
    margin-right: 100px;
    width: 120px;
}


/*Title properties and "box"*/

#title {
    text-align: center;
    border: 3px solid black;
    color: black;
    background-color: none;
    margin-top: 0;
    font-size: 40px;
    font-family: sans-serif;
    padding: 15px;
}

.mainContent {
    font-style: italic;
}

.adjustpos{
    margin-left: 237px;
}