body {
    margin: 0;
}



/*Resize and adjust image*/

#header {
    background-image: url(../images/design1_image1.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0;
}





/* Top left corner text properties*/

.topleft {
    font-size: 40px;
    font-family: monospace;
    margin-top: 0;
    padding: 20px;
}



/*Spacing between links*/

.list {
    padding: 15px 0px 15px 0px;
    font-family: sans-serif;
    font-size: 20px;
}





/*Poisiton logo image*/

.logo {
    float: right;
    margin-right: 200px;
    margin-top: -100px;
    width: 100px;
}





/*Title properties and "box"*/

#title {
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: black;
    margin-top: 0;
    padding: 15px;
}


/*Set properties of links*/

.links {
    text-decoration: none;
    margin-left: 10px;
}




/*Set list properties*/

.nav {
    list-style: none;
    margin top: 65px;
    padding: 0;
    overflow: hidden;
}






/* Allows horizontol alignment of nav and content */

.float {
    width: 450px;
    height: 500px;
    float: left;
}

.mainContent {
    font-style: italic;
}