.nav{
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Create horizontol list*/
.list{
	display: inline-block;
	margin-top: 30px;
}

p{
	padding-left: 180px;
}

h1{
	font-size: 50px;

}

/*Poisition logo*/
.logo{
	float: left;
	margin: 0px 20px 0px 0px;
}


/*Positing image 3*/
.img{
	float: left;
	margin-right: 20px;
}
