.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list {
    display: inline-block;
}

h1 {
    font-size: 50px;
}


/*Poisition logo*/

.logo {
    float: left;
    margin: 0px 20px 0px 0px;
}


/*Positing image 3*/

.img3 {
    float: left;
    margin-top: 15px;
}

p {
    padding-left: 145px;
}