.nav{
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list{
	display: inline-block;
}

h1{
	font-size: 50px;
}

.logo{
	float: left;
	margin: 0px 20px 0px 0px;

}	

.img{
	float: left;
	margin: 15px 15px 60px 0px;
}

.main-content{
	margin-left: 145px;

}